* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Public Sans', sans-serif;
}

.mobile {
    display: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: white;
    font-family: 'Public Sans', sans-serif;
    font-size: 5px;
}

.logo {
    color: hsl(233, 26%, 24%);
    font-size: 10px;
    font-weight: 700;
    margin-left: 5vw;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100px;
    list-style: none;
    background-image: linear-gradient(right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
.nav-links a:hover {
    border-bottom: solid 2px hsl(136, 65%, 51%);
    color: hsl(233, 26%, 24%);
}

.nav-links a{
    color:hsl(233, 8%, 62%);
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
}

.button {
    height: 16px;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    padding-left: 15px;
    padding-right: 15px;
    font-size: 6px;
    display: inline-block;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20vw;
    margin-right: 5vw;
    width: 100px;
    font-family: 'Public Sans', sans-serif;
}
.intro-button {
    margin-left: 0;
    width: 75px;
}
.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: rgb(226, 226, 226);
}

.intro {
    background-color: hsl(0, 0%, 98%);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    font-family: 'Public Sans', sans-serif;
}
.intro-text {
    margin-left: 8vw;
    margin-top: 13vh;
    font-size: 10px;
    color:hsl(233, 8%, 62%);
}
.intro-text p{
    font-size: 8px;
}
.intro-text h1 {
    font-size: 20px;
    color: hsl(233, 26%, 24%);
}
.mockups {
    top: -100vh;
    overflow: hidden;
    position: relative;
    padding-left: 55vw;
}
.mockups img {
    width: 110vh;
    margin-top: -50px;
}
.why-choose {
    background-color:hsl(220, 16%, 96%);
    height: 110vh;
    color: hsl(233, 26%, 24%);
    margin-top: -117vh;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 40px;
}
.why-choose h1 {
    font-size: 16px;
}
.why-choose p {
    font-size: 8px;
}
.why-choose-cards {
    display: flex;
    margin-top: 30px;
}
.wcc {
    padding-right: 8px;
    display: inline-block;
}
.wci {
    width: 30px;
}
.articles {
    background-color: hsl(0, 0%, 98%);
    height: 100vh;
    color: hsl(233, 26%, 24%);
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 40px;
}
.article-cards {
    display: flex;
    margin-top: 30px;
}
.card {
    display: inline-block;
    background-color: white;
    margin-right: 12px;
    border-radius: 3px;
    width: 140px;
}
.card-img {
    width: 100%;
}
.card p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.title {
    font-size: 10px;
}
.title:hover{
    color: cadetblue;
}
.author {
    font-size: 5px;
}
.content {
    font-size: 7px;
}
.footer {
    height: 20vh;
    background-color: hsl(233, 26%, 24%);
    display: flex;
}
.social-media {
    width: 20%;
    padding-left: 50px;
    padding-top: 15px;
    text-align: center;
}
.sm-logo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.sm-logo img {
    width: 7px;
}
#logo-dark {
    width: 50px;
    justify-self: center;
}
.links {
    display: flex;
    margin-left: 50px;
    margin-top: 15px;
}
.links a {
    color: white;
    font-size: 7px;
    padding-right: 25px;
}
.end {
    margin-right: 50px;
    margin-top: 10px;
    text-align: right;
}
.end p {
    color: grey;
    font-size: 7px;
}
.end button {
    margin-right: 0;
    width: 80px;
    margin-bottom: 10px;
}

@media screen and (max-width:1024px){
    .nav-links {
        width: 60%;
    }
}
@media screen and (max-width:420px){
    .nav-links {
        position: absolute;
        height: 30vh;
        top: -400px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        border-radius: 4px;
        transition: all 0.3s ease-in;
    }
    
    .burger{
        display: block;
    }
    .mobile {
        display: block;
    }

    .intro {
        height: 700px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .intro-text {
        margin-bottom: 30vh;
        margin-top: 0;
        justify-self: center;
        margin-left: 8vw;
        margin-right: 8vw;
    }
    .dt {
        display: none;
    }
    .intro-text p {
        font-size: 18px;
        text-align: justify;
    }
    .intro-text h1 {
        font-size: 40px;
    }
    .mockups {
        display: none;
    }
    .mockups-mobile {
        position: relative;
        top: -362px;
        overflow: hidden;
        height: 362px;
        display: block;
        width: 200px;
    }
    .intro-mobile {
        top: 0;
    }
    #intro-mobile {
        height: 360px;
        width: 100%;
    }
    #intro-desktop {
        display: none;
    }
    .nav-button {
        display: none;
    }
    .button {
        width : 200px;
        font-size: 14px;
        height: 40px;
        justify-self: center;
        margin-left: 65px;
        border-radius: 100px;
    }
    .why-choose {
        height: 1300px;
        margin-top: 0;
        font-size: 18px;
        text-align: center;
        padding-right: 50px;
        padding-left: 50px;
    }
    .why-choose h1 {
        font-size: 35px;
    }
    .why-choose p {
        font-size: 18px;
    }
    .why-choose-cards {
        flex-direction: column;
    }
    .wcc {
        text-align: center;
        font-size: 18px;
        margin-bottom: 50px;
    }
    .wci {
        width: 50px;
    }
    .wcc p {
        font-size: 18px;
    }
    .wcc h2 {
        font-size: 25px;
    }
    .articles {
        height: 2000px;
    }
    .article-cards {
        flex-direction: column;
        text-align: center;
    }
    .title {
        font-size: 24px;
    }
    .author {
        font-size: 16px;
    }
    .content {
        font-size: 19px;
    }
    .card {
        width: 100%;
        margin-bottom: 30px;
        text-align: left;
    }
    .footer {
        height: 700px;
        flex-direction: column;
    }
    .social-media {
        width: 100%;
        padding-top: 35px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        justify-content: center;

    }
    .sm-logo {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        margin-bottom: 25px;
        width: 70%;
        padding: 0;
        margin-left: 45px;
    }
    .sm-logo img {
        width: 30px;
    }
    #logo-dark {
        width: 50%;
        justify-self: center;
    }
    .links {
        display: flex;;
        margin-top: 20px;
        flex-direction: column;
        margin-left: 0;
    }
    .links p {
        text-align: center;
        margin-bottom: 12px;
    }
    .links a {
        color: white;
        font-size: 19px;
        padding-right: 0;
    }
    .end {
        margin-top: 50px;
        text-align: center;
        margin-right: 0px;
    }
    .end p {
        color: grey;
        font-size: 7px;
        text-align: center;
    }
    .end button {
        margin-right: 0;
        width: 150px;
        margin-bottom: 10px;
        margin-left: 0;
    }
}
.nav-links.active {
    top: 12vh;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
